*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: 1px solid black;*/
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    /*border: 1px solid  black;*/
}
.box{
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    color: #b0413e;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    background-color: #ffff99;
}
.reset-btn{
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: #ffffff;
}
#new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: #ffffff;
}
#msg{
    color: #ffff99;
    font-size: 3rem;
}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.hide
{
    display: none;
}